<div class="signs d-flex align-items-center justify-content-center">
  <div class="user-forms container w-25 d-flex flex-column justify-content-center border p-5 rounded">
    <h1>Sign In</h1>
    <%= render 'form' %>
    <span class='mt-2'>Don't have an account? <%= link_to "Sign up", new_user_path %></span>
  </div>
</div>