<div class="container articles">
  <div><%= @article.title %></div>
  <p><%= @article.content %></p>
  <%= image_tag @article.image, class: 'article-image' %>
  <div>Categories: <%= @article.categories.first.name %></div>
</div>