<div class="signs d-flex align-items-center justify-content-center">
  <div class="user-forms container w-25 d-flex flex-column justify-content-center border p-5 rounded">
    <h1>Sign Up</h1>
    <%= render 'form' %>
    <span class='mt-2'>Have an account? <%= link_to "Sign in", user_sign_in_path, class: 'form-link' %></span>
  </div>
</div>