<section class="no-articles container d-flex justify-content-center align-items-center">
  <h2 class="text-light-orange text-center">There are no articles published <br> Come back later. </h2>
</section>