<section class='most-pop'>

</section>
<section class='categories'>
  <div class="row">
    <article class='cate games col p-0'>
      <div class='wrapper w-100 d-flex flex-column position-relative justify-content-between'>
        <div class='gradient'></div>
        <span class='category-name text-white'>Video Games</span>
        <span class='article-title text-white'>New figther in smash!</span>
        <img src="https://www.lamodeenimages.com/sites/default/files-lmi/styles/1365x768/public/images/article/homepage/full/miss-dior-exposition-love-nroses-shanghai-2019-la-mode-en-images-cover2.jpg?itok=ZiLeUCR0" alt="img">
      </div>
    </article>

    <article class='computers col p-0'>
    
    </article>

    <article class='phones col p-0'>
    
    </article>

    <article class='robotics col p-0'>
    
    </article>
  </div>
</section>