<section class='most-pop'>

</section>
<section class='categories container'>
  <div class="row">
    <article class='games col'>
      <div class='wrapper'>
        <span class='category-name'>Video Games</span>
        <span class='article-title'>New figther in smash!</span>
        <div class='gradient'>
          <div class='img'>

          </div>
        </div>
      </div>
    </article>

    <article class='computers col'>
    
    </article>

    <article class='phones col'>
    
    </article>

    <article class='robotics col'>
    
    </article>
  </div>
</section>